html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    background-size: cover;
}

.loginAndRegBox {
    width: 400px;
    height: 310px;
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.tite-box {
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

.reg-box {
    display: none;
}