html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}

/* 设置表格类型 */
.layui-card {
    /* height: 300px; */
    margin-top: 20px;
}

/* 设置文章标题区域类型 */
.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}